<!DocType HTML>
<html>
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>WebCell template</title>
    <meta name="description" content="WebCell template">

    <script src="node_modules/@babel/polyfill/dist/polyfill.min.js"></script><!--
        IE 11 needs the polyfill below:
    <script src="https://cdn.polyfill.io/v2/polyfill.js?features=Element.prototype.append,DocumentFragment.prototype.append"></script>-->
    <script src="node_modules/whatwg-fetch/dist/fetch.umd.js"></script>
    <script src="node_modules/@webcomponents/webcomponentsjs/webcomponents-bundle.js"></script>
    <script src="node_modules/@webcomponents/webcomponentsjs/custom-elements-es5-adapter.js"></script>

    <script src="node_modules/web-cell/dist/web-cell.min.js"></script>
</head><body>

</body>
</html>
